<!DOCTYPE html>
<html>
    <head>
        <title>贵隆A02成本数据</title>
        <meta http-equiv="Content-Type" 
        content="text/html; charset=utf-8" />
        <link href='static/images/favicon.ico' 
        rel="shortcut icon" />
        <link href='static/css/styles.css' 
        type='text/css' rel='stylesheet'/>
    </head>
    <body>
        <div class='nav'>
            <ol list-style-type:upper roman>
                <li class='now'>
                    <a href='get_income_boq' id='income_boq'>
                        收入清单
                    </a>
                </li>
                <li class=''>
                    <a href='get_sub_contractor_account' id='sub_contractor_accoutn'>
                        分包台帐
                    </a>
                </li>
            </ol>
        </div>
        <div id='content'>
            content
        </div>
        <script src='static/js/jquery.js'></script>
        <script src='static/js/jquery-ui.js'></script>
        <script src='static/js/index-flask.js'></script>  
    </body>
</html>
