<!DOCTYPE html>
<html>
    <head>
        <title>贵隆A02成本数据</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <meta name="renderer" content="webkit">
        <link href='static/images/favicon.ico' rel="shortcut icon" />
        <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
        <link href='static/css/styles.css' type='text/css' rel='stylesheet'/>
    </head>
    <body>
        <div class='nav' id='tab'>
            <ul list-style-type:upper roman>
                <li class='now'>
                    <a href='#tab-1' id='income'>
                        收入清单
                    </a>
                </li>
                <li class=''>
                    <a href='#tab-2' id='sub_contractor'>
                        分包台帐
                    </a>
                </li>
                <li class=''>
                    <a href='#tab-3' id='cal_and_payed'>
                        结算支付
                    </a>
                </li>
                <li class=''>
                    <a href='#tab-4' id='material_quantity'>
                        材料用量
                    </a>
                </li>
                <li class=''>
                    <a href='#tab-5' id='sub_contractor_income'>
                        分包产值
                    </a>
                </li>
            </ul>
            <div id='tab-1'>
                <ul>
                    <li class=''>
                        <a>点击清单号以获取该项明细</a>
                    </li>
                </ul>
            </div>
            <div id='tab-2'>              
                <ul>
                    <li class=''>
                        <a href='分包概况' id='sub_contractor_condition'>
                            分包概况
                        </a>
                    </li>
                    <li class=''>
                        <a href='分包合同' id='sub_contract_message'>
                            分包合同
                        </a>
                    </li>
                    <li class=''>
                        <a href='分包资质' id='sub_contractor_licence'>
                            分包资质
                        </a>
                    </li>
                    <li class=''>
                        <a href='银行帐号' id='sub_contractor_bank_account'>
                            银行帐号
                        </a>
                    </li>
                </ul>                
            </div>
            <div id='tab-3'>
                <ul>
                    <li class=''>
                        暂无二级分项<a href=''></a>
                    </li>
                </ul>
            </div>
            <div id='tab-4'>
                <ul>
                    <li class=''>
                        <a href='混凝土' id='concrete'>
                            混凝土量
                        </a>
                    </li>
                    <li class=''>
                        <a href='钢材' id='steel'>
                            钢材量
                        </a>
                    </li>
                    <li class=''>
                        <a href='地材' id='flooring_material''>
                            地材量
                        </a>
                    </li>
                </ul>
            </div>
            <div id='tab-5'>
                <ul>
                    <li><a href="" id="天津金尊">天津金尊</a></li>
                    <li><a href="" id="三河恒泰">三河恒泰</a></li>
                    <li><a href="" id="天津港茂">天津港茂</a></li>
                    <li><a href="" id="河北方泽">河北方泽</a></li>
                    <li><a href="" id="天津中业">天津中业</a></li>
                    <li><a href="" id="广西远长">广西远长</a></li>
                    <li><a href="" id="九江海内">九江海内</a></li>
                    <li><a href="" id="江西亿安">江西亿安</a></li>
                    <li><a href="" id="天津航盛">天津航盛</a></li>
                    <li><a href="" id="邯郸荣宸">邯郸荣宸</a></li>
                    <li><a href="" id="全部">全部分包</a></li>                                              
                </ul>
            </div>
        </div>
        <div id='content'>
            点击标题以获取具体标题信息<br>
            所有收入和成本数据不含100章、临建、安全环保费等<br>
            推荐使用firefox chrome或者360浏览器<br>
            使用其他浏览器的请避免使用IE内核<br>
        </div>
        <div id='footer'>
            <p id='footer1'></p>
            <p id='footer2'>&copy;版权所有 &nbsp&nbsp 中交一航局总承包第一项目部 
                    &nbsp&nbsp 2019 &nbsp&nbsp 电话:18602221387
                    &nbsp&nbsp QQ:306668234</p>
        </div>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
        <script src='static/js/translate_dic_1_03.js'></script>
        <script src='static/js/index_flask_1_03.js'></script>  
    </body>
</html>
